<!-- Note that each template you add should include the partial templates -->
<!-- header and footer, if you don't need to add any new things to the head -->
<%- include('templates/header') %>
<div>
  <h1 id="code"></h1>
  <div id="swipe-example"></div>
  <div id="pan-example"></div>
  <div id="pinch-example"></div>
  <div id="rotate-example"></div>
  <div id="press-example"></div>
  <div id="tap-example"></div>
</div>
</body>
  <!--   Edit the following to lead to the appropriate Imperio client file -->
  <!-- Note that this path's root will likely come from the path static path -->
  <!--     you defined for the Imperio library at the top of server.js -->
  <!-- ********************************************************************* -->
  <!--   Chances are, you WON'T need to change anything if we continue to -->
  <!--     build our library to the /dist directory in our library root -->
  <script src='./dist/imperio.js'></script>
  <script src='./browser.js'></script>  
</html>
