<%- include('templates/header') %>
<div>
  <h1>Salve, Munde!</h1>
</div>
<div>
  <% if (nonce) { %>
    <p>You're accessing this page with nonce: <%= nonce %></p>
  <% } %>
</div>
<%- include('templates/footer') %>
