<%- include('templates/header') %>
<div id="mobile-div">
  <div id="swipe-box">SWIPEBOX</div>
  <div id="rotate-box">ROTATEBOX</div>
  <div id="pan-box">PANBOX</div>
  <div id="pinch-box">PINCHBOX</div>
</div>

</body>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
  <script src='./dist/imperio.js'></script>
  <script src='./mobile.js'></script>
</html>
