<%- include('templates/header') %>
<div id="mobile-div">
  <h1 id="swipe">Swipe here!</h1>
  <div id="pinch-box">PINCHBOX</div>
  <div id="pan-box">PANBOX</div>
</div>

</body>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
  <script src='./dist/imperio.js'></script>
  <script src='./mobile.js'></script>
</html>
