* {
  font-family: "Times New Roman", sans-serif;
}

#pan-zoom {
  background-color:black;
  height:125px;
  width:125px;
  margin:0 auto;
  transform: translate(0px, 0px) rotate(0deg) scale(1);
}

#swipe-example {
  height:125px;
  width:125px;
  margin:0 auto;
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  transition:transform 0.25s;
  background-image: url("http://hammerjs.github.io/assets/img/swipe.svg");
  border: 1px black solid;
  border-radius:15px;
  margin-top:20px;
}

#pinch-example {
  height:125px;
  width:125px;
  margin:0 auto;
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/pinch.svg");
  border: 1px black solid;
  border-radius:15px;
  margin-top:20px;
}

#pan-example {
  height:125px;
  width:125px;
  margin:0 auto;
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/pan.svg");
  border: 1px black solid;
  border-radius:15px;
  margin-top:20px;
}

#rotate-example {
  height:125px;
  width:125px;
  margin:0 auto;
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/rotate.svg");
  border: 1px black solid;
  border-radius:15px;
  margin-top:20px;
}

#press-example {
  height:125px;
  width:125px;
  margin:0 auto;
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("");
  background-image: url("http://hammerjs.github.io/assets/img/press.svg");  
  border: 1px black solid;
  border-radius:15px;
  margin-top:20px;
}

#tap-example {
  height:125px;
  width:125px;
  margin:0 auto;
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("");
  background-image: url("http://hammerjs.github.io/assets/img/tap.svg");  
  border: 1px black solid;
  border-radius:15px;
  margin-top:20px;
  transition:height 0.25s, width 0.25s;
}

p {
  margin-top:0.15em;
  margin-bottom:0;
  text-align: center;
  color:grey;
  font-weight:bold;
}

/*mobile div for gestures*/
#swipe-box {
  color:yellow;
  background-color: blue;
  width:100%;
  height:2.5em;
  font-size:5em;
}

#rotate-box {
  color:black;
  background-color: red;
  width:100%;
  height:6em;
  font-size:5em;  
}

#pan-box {
  color:white;
  background-color: black;
  width:80%;
  height:5em;
  font-size:5em;  
}

#pinch-box {
  color:yellow;
  background-color: purple;
  width:100%;
  height:5em;
  font-size:5em;  
}

#tap-box {
  color:yellow;
  background-color: green;
  width:50%;
  height:4em;
  font-size:5em;  
}
