* {
  font-family: "Helvetica", sans-serif;
}

#code {
  margin:0 0;
}

#current-event {
  display:block;
  height:80px;
  font-size:80px;
  width:100%;
  text-align:center;
  margin-top:175px;
  margin-bottom:0px;
}

#gesture-container {
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:200px;
  width:100%;
}

.gesture {
  display:inline-block;
  height:150px;
  width:150px;
  border: 1px black solid;
  border-radius:15px;
}

#swipe-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  transition:transform 0.25s;
  background-image: url("http://hammerjs.github.io/assets/img/swipe.svg");
}

#pinch-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/pinch.svg");
}

#pan-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/pan.svg");
}

#rotate-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/rotate.svg");
}

#press-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/press.svg");  
}

#tap-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/tap.svg");  
  transition:height 0.25s, width 0.25s;
}

/*mobile div for gestures*/
#swipe-box {
  color:yellow;
  background-color: blue;
  width:100%;
  height:3em;
  font-size:5em;
}

#rotate-box {
  color:black;
  background-color: red;
  width:100%;
  height:5em;
  font-size:5em;  
}

#pan-box {
  color:white;
  background-color: black;
  width:80%;
  height:4em;
  font-size:5em;  
}

#pinch-box {
  color:yellow;
  background-color: purple;
  width:100%;
  height:4em;
  font-size:5em;  
}

#tap-box {
  color:yellow;
  background-color: green;
  width:50%;
  height:4em;
  font-size:5em;  
}
