* {
  font-family: "Helvetica", sans-serif;
}

body {
  margin: 1px;
}

/* ------------------------------------ */
/* ----     Main Page Elements     ---- */
/* ------------------------------------ */
#connection-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#connection {
  padding: 15px 30px;
  height: auto;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #FFCE7A;
}
.visibility-list {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 15px;
  background-color: #FFCE7A;
}
.visibility-list ul {
  padding: 0;
  margin: 0;
}
.visibility-list ul li {
  list-style: none;
}

/* ------------------------------------ */
/* ----      Example Templates     ---- */
/* ------------------------------------ */
div.demo-box {
  margin: 90px;
}

/* ------------------------------------ */
/* ---------      Old CSS     --------- */
/* ------------------------------------ */

#code {
  margin:0 0;
}

#current-event {
  display:block;
  height:80px;
  font-size:80px;
  width:100%;
  text-align:center;
  margin-top:175px;
  margin-bottom:0px;
}

#gesture-container {
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:200px;
  width:100%;
}

.gesture {
  display:inline-block;
  height:150px;
  width:150px;
  border: 1px black solid;
  border-radius:15px;
}

#swipe-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  transition:transform 0.25s;
  background-image: url("http://hammerjs.github.io/assets/img/swipe.svg");
}

#pinch-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/pinch.svg");
}

#pan-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/pan.svg");
}

#rotate-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/rotate.svg");
}

#press-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/press.svg");  
}

#tap-example {
  transform: translate(0px, 0px) rotate(0deg) scale(1);
  background-image: url("http://hammerjs.github.io/assets/img/tap.svg");  
  transition:height 0.25s, width 0.25s;
}
